<div class="container">
  <div class="row">
    <div class="col-md-10 mx-md-auto">
      <div class="card rounded-0 shadow mt-5 mb-5">
        <div class="card-body">
          <p>Here is the event calander. You can quickly add events by just clicking on a date on calender and then you can edit them later to provide more details.</p>
        </div>
      </div>
      <div id="calendar" class="mt-5"></div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      dayClick: function(date, jsEvent, view){
        // alert("Hello! I am ready to open BS modal...")
        $("#myModal").modal("show");
      },
      defaultDate: '2019-02-15',
      navLinks: true,
      editable: true,
      eventLimit: true,
      events: '/events/events_for_calendar.json'
    });

  });

</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add Quick Events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :event, url: :add_quick_event_events, method: :post do |f| %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <div class="modal-body">
          <div class="form-group row">
            <div class="col-12">
              <%= f.label 'Event Title' %>
              <%= f.text_field :title, class: "form-control rounded-0", placeholder: "Event Title" %>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <%= f.submit "Save Event", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>